<nav class="navbar navbar-expand-lg navbar-light login" style="background-color: #F0F2F5"> 
  <a class="navbar-brand" style="font-weight: bold" href="/"><img src="../images/birds-vector-feather-5.png" style="width: 5%;">FLOCK</imgsrc></a> 
    <a href="/logout"> 
      <button type="button" class="btn btn-primary" style="font-weight: bold;">LOG OUT</button> 
    </a> 
</nav>