<nav class="navbar navbar-expand-lg navbar-light bg-light login"> 
        <a class="navbar-brand" style="font-weight: bold" href="/"><img src="../images/birds-vector-feather-5.png" style="width: 5%;">FLOCK</imgsrc></a> 
        <a href="/login"> 
            <button type="button" class="btn btn-primary" style="font-weight: bold;">LOG IN</button> 
        </a>
         
</nav>
<div class="background-image ">
    <div class="dark-background"></div>
        <div class="content">
            <h1 style="font-size: 5rem; color: white;">Flock</h1>
            <h3 style="font-size: 3rem; color: white; font-style: italic;">The Ultimate Event Finder</h3><br>
            <a href="/register"> 
                <button type="button" class="btn btn-primary" >Register Here</button>  
            </a>
        </div> 
</div>