<nav class="navbar navbar-expand-lg btn-primary login" style="height: 70px"> 
         <a class="navbar-brand" style="font-weight: bold; color: white;" href="/"><img src="../images/birds-vector-feather-5.png" style="width: 5%; filter: invert(1); font-color: white">FLOCK</imgsrc></a> 
        <a href="/login"> 
            <button type="button" class="btn btn-primary" style="font-weight:bolder; background-color: white; color: #0075E9">LOG IN</button> 
        </a>
</nav>
<div class="background-image ">
    <div class="dark-background"></div>
        <div class="content">
            <h1 style="font-size: 5rem; color: white;">Flock</h1>
            <h3 style="font-size: 3rem; color: white; font-style: italic;">The Ultimate Event Finder</h3><br>
            <a href="/register"> 
                <button type="button" class="btn btn-primary" style="padding: 3%; font-size: 1.5rem">Register Here</button>  
            </a>
        </div> 
</div>