
.background-image{
    background-image: url("../images/friends-having-fun.jpg");
    background-size: cover;
    width: 100%;
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-background{
    background-size: cover;
    width: 100%;
    height: 860px;
    background: black;
    opacity: .50;
}
.content{
    text-align: center;
    z-index: 1;
    position: absolute;
}

.login {
    justify-content: space-between; 

}


.profile-card {
    margin-top: 5%;
    margin-left: 6%;
    padding-right: 0px;
    position: absolute
}

.profile-pic {
    object-fit: scale-down;
    height: 20rem;
    width: 30rem;
    border-radius: 2% 2% 0 0;
    background-size: cover;
    margin: 0 auto;
}

.event-icons {
    height: 5rem;
    width: 5rem;
    margin-left: 15%
}
.card-width{
    width: 70%;
    border-width: 4px; 
    border-color:cornflowerblue; 
    border-radius: 2%
}
.map{
    margin-top: 1%;
    margin-left: 33%;
    padding-right: 0px;
    position: absolute;
    
}

.profile-buttons {
    margin-top: 3%;
}

.edit{
    margin-right: 10%;
}

#map {
    width: 100%;
    height: 500px;
}


.event-title {
    font-weight: bold; 
    font-size: 1.2rem;
}

.events-list {
    width: 70%;
    margin-left: 15%;
    background-color: cornflowerblue;
}
.events-label{
    font-weight: bold; 
    font-size: 2.5rem; 
    margin-left: 45%; 
    margin-top: 10%;
}