.background-image{
    background-image: url("../images/friends-having-fun.jpg");
    background-size: cover;
    width: 100%;
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-background{
    background-size: cover;
    width: 100%;
    height: 860px;
    background: black;
    opacity: .50;
}
.content{
    text-align: center;
    z-index: 1;
    position: absolute;
}

.login {
    justify-content: space-between;
 
}

.profile-card {
    margin-top: 6%;
    margin-left: 6%;
    padding-right: 0px;
    position: absolute
}

.profile-pic {
    object-fit: scale-down;
    height: 20rem;
    background-size: cover;
    margin: 0;
}

.map{
    margin-top: 1%;
    margin-left: 33%;
    padding-right: 0px;
    position: absolute;
    background-image: url("../images/map-no-params.png");
    background-size: cover;
}
